<!DOCTYPE html>
<html>
  <head>
    <title>About page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="lib/nice-select/jquery.nice-select.min.js"></script>
    <link rel="stylesheet" href="lib/nice-select/nice-select.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This page is for testing</h1>
    <p>hello</p>

    <!--testing nice select-->
    <div class="w200">
      <select id="select1" class="wide no-round">
        <% options.forEach(function (item) { %>
          <option value=<%= item.value %> ><%= item.name %></option>
        <% }) %>
        <!--<option value="1">Some option</option>-->
        <!--<option value="2">Another option</option>-->
        <!--<option value="3" disabled>A disabled option</option>-->
        <!--<option value="4">Potato</option>-->
      </select>
    </div>



    <script>
      let test = <%- JSON.stringify(options)%>;
      console.log("--- log test", test);
      $(function () {
          $('#select1').niceSelect();
      })
    </script>
  </body>
</html>
