<!DOCTYPE html>
<html>
  <head>
    <title>Light gallery page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link type="text/css" rel="stylesheet" href="lib/light-gallery/css/lightgallery.css" />
  </head>
  <body>
    <h1>This page is for testing light gallery</h1>
    <p>hello</p>
    <div style="margin: 40px">
      <a id="launch" href="#">launch gallery</a>
    </div>

    <div id="gal">
      <a id="img1" href="https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg">
        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg" />
      </a>
      <a href="https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg">
        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg" />
      </a>
      <a href="https://sachinchoolur.github.io/lightgallery.js/static/img/6.jpg">
        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/6.jpg" />
      </a>
      <a href="https://sachinchoolur.github.io/lightgallery.js/static/img/8.jpg">
        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/8.jpg" />
      </a>
    </div>



    <script src="lib/light-gallery/js/lightgallery.min.js"></script>
    <!-- lightgallery plugins -->
    <script src="lib/light-gallery/js/lg-thumbnail.min.js"></script>
    <script src="lib/light-gallery/js/lg-fullscreen.min.js"></script>
    <script>
      $(function () {
          lightGallery(document.getElementById('gal'));
      });

      $('#launch').click(function (e) {
          console.log("--launch the rocket")
          lightGallery(document.getElementById('launch'), {
              dynamic: true,
              dynamicEl: [{
                  "src": 'https://sachinchoolur.github.io/lightgallery.js/static/img/1.jpg',
                  'thumb': '../static/img/thumb-1.jpg',

              }, {
                  'src': 'https://sachinchoolur.github.io/lightgallery.js/static/img/2.jpg',
                  'thumb': '../static/img/thumb-2.jpg',

              }, {
                  'src': 'https://sachinchoolur.github.io/lightgallery.js/static/img/8.jpg',
                  'thumb': '../static/img/thumb-3.jpg',

              }]
          })

      })

    </script>
  </body>
</html>
