body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.w200 {
  width: 200px;
}

.no-round {
  border-radius: 0;
}

.nice-select.wide .list {
  margin-top: 20px;
}
